What is the movie genre that has a median rating of at least 3 (over all movies with at least ten recommendations) with the lowest average production budget considering all movies?

In [1]:
import pandas as pd

Benötigte Columns:
<ul>
    <li> movie genre
    <li> rating (median at least 3)
    <li> at least 10 recommendations
    <li> lowest average production budget
</ul>

In [2]:
cast = pd.read_csv("C:/Users/ibele/OneDrive/DHBW/4. Semester/Big Data Storage/Prüfungsleistung/bereinigt/cast.csv")
cast.drop(columns=cast.columns[0], axis=1, inplace=True)
cast

,character,creditid,gender,id,name,order,castid,movie_id,title
0,Jake Sully,5602a8a7c3a3685532001c9a,,6573,Sam Worthington,0.0,,19995.0,Avatar
1,Neytiri,52fe48009251416c750ac9cb,,869,Zoe Saldana,1.0,2,19995.0,Avatar
2,Dr Grace Augustine,52fe48009251416c750aca39,,1020,Sigourney Weaver,2.0,,19995.0,Avatar
3,Col Quaritch,52fe48009251416c750ac9cf,,3274,Stephen Lang,3.0,,19995.0,Avatar
4,Trudy Chacon,52fe48009251416c750ac9d3,,1764,Michelle Rodriguez,4.0,,19995.0,Avatar
...,...,...,...,...,...,...,...,...,...
101497,Himself,58ce01339251415a410167f0,,303,Corey Feldman,2.0,,25975.0,My Date with Drew
101498,Himself,58ce018c9251415a7d016e36,,2131,Eric Roberts,3.0,,25975.0,My Date with Drew
101499,Himself,58ce01b99251415a7d016e7d,,217,Griffin Dunne,4.0,1,25975.0,My Date with Drew
101500,Himself,58ce01d19251415a8b0168be,,223,Samuel L Jackson,5.0,1,25975.0,My Date with Drew
101501,Himself,58ce01dd9251415a39016580,,1440,Matt LeBlanc,6.0,,25975.0,My Date with Drew

In [3]:
movie = pd.read_csv("C:/Users/ibele/OneDrive/DHBW/4. Semester/Big Data Storage/Prüfungsleistung/bereinigt/movies.csv", sep=";")
movie.drop(columns=movie.columns[0], axis=1, inplace=True)
movie

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,languages
0,236972821,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787966824,162.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,Enter the World of Pandora.,Avatar,[defaultdict(<function clean_cell.<locals>.<la...
1,299983825,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961022070,169.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,[defaultdict(<function clean_cell.<locals>.<la...
2,244983844,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880719915,148.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,A Plan No One Escapes,Spectre,[defaultdict(<function clean_cell.<locals>.<la...
3,249951643,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084987218,165.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,The Legend Ends,The Dark Knight Rises,[defaultdict(<function clean_cell.<locals>.<la...
4,260013038,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284133596,132.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,"Lost in our world, found in another.",John Carter,[defaultdict(<function clean_cell.<locals>.<la...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,196079,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2068207,81.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,"He didn't come looking for trouble, but troubl...",El Mariachi,[defaultdict(<function clean_cell.<locals>.<la...
4799,-3260,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,-1198,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,[]
4800,-34761,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,-35087,120.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,NaN,"Signed, Sealed, Delivered",[defaultdict(<function clean_cell.<locals>.<la...
4801,20092,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,30394,98.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,A New Yorker in Shanghai,Shanghai Calling,[defaultdict(<function clean_cell.<locals>.<la...
4802,44126,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,11928,90.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,NaN,My Date with Drew,[defaultdict(<function clean_cell.<locals>.<la...

In [4]:
crew = pd.read_csv("C:/Users/ibele/OneDrive/DHBW/4. Semester/Big Data Storage/Prüfungsleistung/bereinigt/crew.csv", sep=",")
genre = pd.read_csv("C:/Users/ibele/OneDrive/DHBW/4. Semester/Big Data Storage/Prüfungsleistung/bereinigt/genres.csv", sep=",")
languages = pd.read_csv("C:/Users/ibele/OneDrive/DHBW/4. Semester/Big Data Storage/Prüfungsleistung/bereinigt/languages.csv", sep=",")

In [5]:
recommendations = pd.read_csv("C:/Users/ibele/OneDrive/DHBW/4. Semester/Big Data Storage/Prüfungsleistung/groupA/recommendations_groupA.csv", sep=",")

In [6]:
recommendations

         movie_id  user_id  vote
0             508    77338     5
1          133694    83675     1
2           14048    78439     5
3            8338    66699     5
4           11624    56765     3
...           ...      ...   ...
9999995     15489     6138     2
9999996       594    27457     4
9999997     83588    24253     1
9999998     17379     5416     3
9999999      9920     6599     2

[10000000 rows x 3 columns]

In [7]:
recommendations.groupby('movie_id')['movie_id'].count()

movie_id
5         2047
11        2051
12        2067
13        2061
14        2072
          ...
426067    2098
426469    2062
433715    2115
447027    2095
459488    1996
Name: movie_id, Length: 4803, dtype: int64

In [8]:
crew.drop(columns=crew.columns[0], axis=1, inplace=True)
crew

,gender,id,job,name,creditid,department,movie_id,title
0,,172,Editor,Stephen E Rivkin,539c47ecc3a36810e3001f87,Art,19995.0,Avatar
1,,49,Production Design,Rick Carter,54491c89c3a3680fb4001cf7,Sound,19995.0,Avatar
2,,90,Sound Designer,Christopher Boyes,54491cb70e0a267480001bd0,Sound,19995.0,Avatar
3,,126,Casting,Christopher Boyes,539c4a4cc3a36810c9002101,Production,19995.0,Avatar
4,,172,Original Music Composer,James Horner,5544ee3b925141499f0008fc,Sound,19995.0,Avatar
...,...,...,...,...,...,...,...,...
108292,,20813,Director,Daniel Hsia,52fe4ad9c3a368484e16a371,Writing,126186.0,Shanghai Calling
108293,,688,Executive Producer,Clark Peterson,58ce0232c3a36850e90157da,Production,25975.0,My Date with Drew
108294,,6105,Executive Producer,Andrew Reimer,52fe44e8c3a368484e03da8d,Directing,25975.0,My Date with Drew
108295,,9447,Director,Brian Herzlinger,52fe44e8c3a368484e03da87,Directing,25975.0,My Date with Drew
108296,,99756,Director,Jon Gunn,52fe44e8c3a368484e03da97,Directing,25975.0,My Date with Drew

In [9]:
genre.drop(columns=genre.columns[0], axis=1, inplace=True)
genre.rename(columns={'name': 'genre_name'}, inplace=True)
genre

       id        genre_name  movie_id                      title
0      87   Science Fiction   19995.0                     Avatar
1       5          Thriller   49026.0      The Dark Knight Rises
2      87   Science Fiction    1452.0           Superman Returns
3       8             Crime   10764.0          Quantum of Solace
4      87   Science Fiction   49521.0               Man of Steel
..    ...               ...       ...                        ...
855    87   Science Fiction     985.0                 Eraserhead
856    87   Science Fiction  270554.0                   Echo Dr.
857     5          Thriller   38780.0                    Rampage
858     5          Thriller   36095.0                       Cure
859  1077          TV Movie  231617.0  Signed, Sealed, Delivered

[860 rows x 4 columns]

In [10]:
languages.drop(columns=languages.columns[0], axis=1, inplace=True)
languages

,movie_id,title,iso6391,name
0,206647.0,Spectre,it,Italiano
1,10764.0,Quantum of Solace,fr,Franu00e7ais
2,58.0,Pirates of the Caribbean: Dead Man's Chest,zh,u666eu901au8bdd
3,2268.0,The Golden Compass,fr,Franu00e7ais
4,597.0,Titanic,sv,svenska
...,...,...,...,...
212,20406.0,Rockaway,es,Espau00f1ol
213,289.0,Casablanca,en,English
214,10183.0,Frozen River,zh,u666eu901au8bdd
215,8416.0,The Conformist,la,Latin
216,14757.0,Osama,ps,u067eu069au062au0648

In [14]:
joined = pd.merge(movie, genre, left_on="id", right_on="movie_id")
joined=joined.drop('movie_id', axis=1)
joined=joined.drop('title_y', axis=1)
joined=joined.drop('id_y', axis=1)
joined = joined.rename(columns={'title_x': 'title', 'id_x': 'id'})
joined.head(10)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,languages,genre_name
0,236972821,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787966824,162.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,Enter the World of Pandora.,Avatar,[defaultdict(<function clean_cell.<locals>.<la...,Science Fiction
1,249951643,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084987218,165.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,The Legend Ends,The Dark Knight Rises,[defaultdict(<function clean_cell.<locals>.<la...,Thriller
2,270030875,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://www.superman.com,1452,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",en,Superman Returns,Superman returns to discover his 5-year absenc...,57.925623,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""L...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2006-06-28,391115123,154.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,NaN,Superman Returns,[defaultdict(<function clean_cell.<locals>.<la...,Science Fiction
3,200046124,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://www.mgm.com/view/movie/234/Quantum-of-S...,10764,"[{""id"": 627, ""name"": ""killing""}, {""id"": 1568, ...",en,Quantum of Solace,Quantum of Solace continues the adventures of ...,107.928811,"[{""name"": ""Eon Productions"", ""id"": 7576}]","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2008-10-30,586093018,106.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,"For love, for hate, for justice, for revenge.",Quantum of Solace,[defaultdict(<function clean_cell.<locals>.<la...,Crime
4,224971303,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.manofsteel.com/,49521,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",en,Man of Steel,A young boy learns that he has extraordinary p...,99.398009,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2013-06-12,662802352,143.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,You will believe that a man can fly.,Man of Steel,[defaultdict(<function clean_cell.<locals>.<la...,Science Fiction
5,208974208,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 28, ""n...",NaN,44833,"[{""id"": 1721, ""name"": ""fight""}, {""id"": 4410, ""...",en,Battleship,"When mankind beams a radio signal into space, ...",64.928382,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-04-11,302983618,131.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,The Battle for Earth Begins at Sea,Battleship,[defaultdict(<function clean_cell.<locals>.<la...,Science Fiction
6,150023243,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.jurassicworld.com/,135397,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 1718,...",en,Jurassic World,Twenty-two years after the events of Jurassic ...,418.708552,"[{""name"": ""Universal Studios"", ""id"": 13}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-06-09,1513518045,124.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,The park is open.,Jurassic World,[defaultdict(<function clean_cell.<locals>.<la...,Thriller
7,210047540,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",NaN,36668,"[{""id"": 1852, ""name"": ""mutant""}, {""id"": 8828, ...",en,X-Men: The Last Stand,"When a cure is found to treat mutations, lines...",3.857526,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...",2006-05-24,459400259,104.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,Take a Stand,X-Men: The Last Stand,[defaultdict(<function clean_cell.<locals>.<la...,Thriller
8,200005403,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",http://www.disney.go.com/cars/,49013,"[{""id"": 830, ""name"": ""car race""}, {""id"": 9663,...",en,Cars 2,Star race car Lightning McQueen and his pal Ma...,49.986590,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2011-06-11,559873703,106.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,Ka-ciao!,Cars 2,[defaultdict(<function clean_cell.<locals>.<la...,Comedy
9,200014075,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://greenlanternmovie.warnerbros.com/,44912,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 4375...",en,Green Lantern,"For centuries, a small but powerful force of w...",51.872839,"[{""name"": ""De Line Pictures"", ""id"": 2609}, {""n...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2011-06-16,219897841,114.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,"In our darkest hour, there will be light.",Green Lantern,[defaultdict(<function clean_cell.<locals>.<la...,Science Fiction

In [15]:
data = pd.merge(joined, recommendations, left_on="id", right_on="movie_id")
data = data.drop('movie_id', axis=1)
data.head(10)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,title,languages,genre_name,user_id,vote
0,236972821,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2787966824,162.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,Enter the World of Pandora.,Avatar,[defaultdict(<function clean_cell.<locals>.<la...,Science Fiction,88681,5
1,236972821,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2787966824,162.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,Enter the World of Pandora.,Avatar,[defaultdict(<function clean_cell.<locals>.<la...,Science Fiction,35006,3
2,236972821,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2787966824,162.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,Enter the World of Pandora.,Avatar,[defaultdict(<function clean_cell.<locals>.<la...,Science Fiction,48328,2
3,236972821,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2787966824,162.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,Enter the World of Pandora.,Avatar,[defaultdict(<function clean_cell.<locals>.<la...,Science Fiction,59295,2
4,236972821,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2787966824,162.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,Enter the World of Pandora.,Avatar,[defaultdict(<function clean_cell.<locals>.<la...,Science Fiction,97543,5
5,236972821,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2787966824,162.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,Enter the World of Pandora.,Avatar,[defaultdict(<function clean_cell.<locals>.<la...,Science Fiction,29741,1
6,236972821,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2787966824,162.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,Enter the World of Pandora.,Avatar,[defaultdict(<function clean_cell.<locals>.<la...,Science Fiction,64803,2
7,236972821,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2787966824,162.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,Enter the World of Pandora.,Avatar,[defaultdict(<function clean_cell.<locals>.<la...,Science Fiction,55531,3
8,236972821,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2787966824,162.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,Enter the World of Pandora.,Avatar,[defaultdict(<function clean_cell.<locals>.<la...,Science Fiction,97001,2
9,236972821,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2787966824,162.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,Enter the World of Pandora.,Avatar,[defaultdict(<function clean_cell.<locals>.<la...,Science Fiction,51302,3

In [17]:
data['median_rating'] = data.groupby(['genre_name'])['vote'].agg('median')
data = data.assign(median_rating=3)
data

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,languages,genre_name,user_id,vote,median_rating
0,236972821,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,Enter the World of Pandora.,Avatar,[defaultdict(<function clean_cell.<locals>.<la...,Science Fiction,88681,5,3
1,236972821,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,Enter the World of Pandora.,Avatar,[defaultdict(<function clean_cell.<locals>.<la...,Science Fiction,35006,3,3
2,236972821,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,Enter the World of Pandora.,Avatar,[defaultdict(<function clean_cell.<locals>.<la...,Science Fiction,48328,2,3
3,236972821,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,Enter the World of Pandora.,Avatar,[defaultdict(<function clean_cell.<locals>.<la...,Science Fiction,59295,2,3
4,236972821,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,Enter the World of Pandora.,Avatar,[defaultdict(<function clean_cell.<locals>.<la...,Science Fiction,97543,5,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1789524,-34761,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...",...,120.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,NaN,"Signed, Sealed, Delivered",[defaultdict(<function clean_cell.<locals>.<la...,TV Movie,92024,5,3
1789525,-34761,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...",...,120.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,NaN,"Signed, Sealed, Delivered",[defaultdict(<function clean_cell.<locals>.<la...,TV Movie,73195,5,3
1789526,-34761,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...",...,120.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,NaN,"Signed, Sealed, Delivered",[defaultdict(<function clean_cell.<locals>.<la...,TV Movie,89679,3,3
1789527,-34761,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...",...,120.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,NaN,"Signed, Sealed, Delivered",[defaultdict(<function clean_cell.<locals>.<la...,TV Movie,15963,3,3
1789528,-34761,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...",...,120.0,[defaultdict(<function clean_cell.<locals>.<la...,Released,NaN,"Signed, Sealed, Delivered",[defaultdict(<function clean_cell.<locals>.<la...,TV Movie,87062,5,3

In [18]:
data.groupby('id')['id'].count()

id
18        2121
79        2149
95        2179
105       2053
106       2095
          ...
347764    2118
351043    2091
375290    2044
407887    2085
417859    2121
Name: id, Length: 860, dtype: int64